<option value="+1">🇦🇬 Antigua and Barbuda (+1)</option>
<option value="+1">🇧🇧 Barbados (+1)</option>
<option value="+1">🇧🇸 Bahamas (+1)</option>
<option value="+1">🇨🇦 Canada (+1)</option>
<option value="+1">🇩🇴 Dominican Republic (+1)</option>
<option value="+1">🇬🇩 Grenada (+1)</option>
<option value="+1">🇬🇺 Guam (+1)</option>
<option value="+1">🇯🇲 Jamaica (+1)</option>
<option value="+1">🇱🇨 Saint Lucia (+1)</option>
<option value="+1">🇵🇷 Puerto Rico (+1)</option>
<option value="+1">🇹🇹 Trinidad and Tobago (+1)</option>
<option value="+1">🇺🇸 United States (+1)</option>
<option value="+1">🇻🇨 Saint Vincent and the Grenadines (+1)</option>
<option value="+20">🇪🇬 Egypt (+20)</option>
<option value="+212">🇲🇦 Morocco (+212)</option>
<option value="+213">🇩🇿 Algeria (+213)</option>
<option value="+216">🇹🇳 Tunisia (+216)</option>
<option value="+233">🇬🇭 Ghana (+233)</option>
<option value="+234">🇳🇬 Nigeria (+234)</option>
<option value="+249">🇸🇩 Sudan (+249)</option>
<option value="+251">🇪🇹 Ethiopia (+251)</option>
<option value="+254">🇰🇪 Kenya (+254)</option>
<option value="+255">🇹🇿 Tanzania, United Republic of (+255)</option>
<option value="+256">🇺🇬 Uganda (+256)</option>
<option value="+27">🇿🇦 South Africa (+27)</option>
<option value="+30">🇬🇷 Greece (+30)</option>
<option value="+31">🇳🇱 Netherlands (+31)</option>
<option value="+32">🇧🇪 Belgium (+32)</option>
<option value="+33">🇫🇷 France (+33)</option>
<option value="+34">🇪🇸 Spain (+34)</option>
<option value="+351">🇵🇹 Portugal (+351)</option>
<option value="+352">🇱🇺 Luxembourg (+352)</option>
<option value="+353">🇮🇪 Ireland (+353)</option>
<option value="+354">🇮🇸 Iceland (+354)</option>
<option value="+356">🇲🇹 Malta (+356)</option>
<option value="+357">🇨🇾 Cyprus (+357)</option>
<option value="+358">🇫🇮 Finland (+358)</option>
<option value="+359">🇧🇬 Bulgaria (+359)</option>
<option value="+36">🇭🇺 Hungary (+36)</option>
<option value="+370">🇱🇹 Lithuania (+370)</option>
<option value="+371">🇱🇻 Latvia (+371)</option>
<option value="+372">🇪🇪 Estonia (+372)</option>
<option value="+374">🇦🇲 Armenia (+374)</option>
<option value="+380">🇺🇦 Ukraine (+380)</option>
<option value="+381">🇷🇸 Serbia (+381)</option>
<option value="+385">🇭🇷 Croatia (+385)</option>
<option value="+386">🇸🇮 Slovenia (+386)</option>
<option value="+39">🇮🇹 Italy (+39)</option>
<option value="+40">🇷🇴 Romania (+40)</option>
<option value="+41">🇨🇭 Switzerland (+41)</option>
<option value="+420">🇨🇿 Czechia (+420)</option>
<option value="+421">🇸🇰 Slovakia (+421)</option>
<option value="+44">🇬🇧 United Kingdom (+44)</option>
<option value="+45">🇩🇰 Denmark (+45)</option>
<option value="+46">🇸🇪 Sweden (+46)</option>
<option value="+47">🇳🇴 Norway (+47)</option>
<option value="+48">🇵🇱 Poland (+48)</option>
<option value="+49">🇩🇪 Germany (+49)</option>
<option value="+501">🇧🇿 Belize (+501)</option>
<option value="+502">🇬🇹 Guatemala (+502)</option>
<option value="+503">🇸🇻 El Salvador (+503)</option>
<option value="+504">🇭🇳 Honduras (+504)</option>
<option value="+505">🇳🇮 Nicaragua (+505)</option>
<option value="+506">🇨🇷 Costa Rica (+506)</option>
<option value="+507">🇵🇦 Panama (+507)</option>
<option value="+51">🇵🇪 Peru (+51)</option>
<option value="+52">🇲🇽 Mexico (+52)</option>
<option value="+53">🇨🇺 Cuba (+53)</option>
<option value="+54">🇦🇷 Argentina (+54)</option>
<option value="+55">🇧🇷 Brazil (+55)</option>
<option value="+56">🇨🇱 Chile (+56)</option>
<option value="+57">🇨🇴 Colombia (+57)</option>
<option value="+58">🇻🇪 Venezuela, Bolivarian Republic of (+58)</option>
<option value="+591">🇧🇴 Bolivia, Plurinational State of (+591)</option>
<option value="+593">🇪🇨 Ecuador (+593)</option>
<option value="+595">🇵🇾 Paraguay (+595)</option>
<option value="+598">🇺🇾 Uruguay (+598)</option>
<option value="+60">🇲🇾 Malaysia (+60)</option>
<option value="+61">🇦🇺 Australia (+61)</option>
<option value="+62">🇮🇩 Indonesia (+62)</option>
<option value="+63">🇵🇭 Philippines (+63)</option>
<option value="+64">🇳🇿 New Zealand (+64)</option>
<option value="+66">🇹🇭 Thailand (+66)</option>
<option value="+7">🇰🇿 Kazakhstan (+7)</option>
<option value="+7">🇷🇺 Russian Federation (+7)</option>
<option value="+81">🇯🇵 Japan (+81)</option>
<option value="+82">🇰🇷 Korea, Republic of (+82)</option>
<option value="+84">🇻🇳 Viet Nam (+84)</option>
<option value="+855">🇰🇭 Cambodia (+855)</option>
<option value="+856">🇱🇦 Lao People's Democratic Republic (+856)</option>
<option value="+86">🇨🇳 China (+86)</option>
<option value="+880">🇧🇩 Bangladesh (+880)</option>
<option value="+90">🇹🇷 Turkey (+90)</option>
<option value="+91">🇮🇳 India (+91)</option>
<option value="+92">🇵🇰 Pakistan (+92)</option>
<option value="+93">🇦🇫 Afghanistan (+93)</option>
<option value="+94">🇱🇰 Sri Lanka (+94)</option>
<option value="+95">🇲🇲 Myanmar (+95)</option>
<option value="+960">🇲🇻 Maldives (+960)</option>
<option value="+961">🇱🇧 Lebanon (+961)</option>
<option value="+962">🇯🇴 Jordan (+962)</option>
<option value="+963">🇸🇾 Syrian Arab Republic (+963)</option>
<option value="+964">🇮🇶 Iraq (+964)</option>
<option value="+965">🇰🇼 Kuwait (+965)</option>
<option value="+966">🇸🇦 Saudi Arabia (+966)</option>
<option value="+967">🇾🇪 Yemen (+967)</option>
<option value="+968">🇴🇲 Oman (+968)</option>
<option value="+970">🇵🇸 Palestine, State of (+970)</option>
<option value="+971">🇦🇪 United Arab Emirates (+971)</option>
<option value="+972">🇮🇱 Israel (+972)</option>
<option value="+973">🇧🇭 Bahrain (+973)</option>
<option value="+974">🇶🇦 Qatar (+974)</option>
<option value="+975">🇧🇹 Bhutan (+975)</option>
<option value="+976">🇲🇳 Mongolia (+976)</option>
<option value="+977">🇳🇵 Nepal (+977)</option>
<option value="+98">🇮🇷 Iran, Islamic Republic of (+98)</option>
<option value="+992">🇹🇯 Tajikistan (+992)</option>
<option value="+993">🇹🇲 Turkmenistan (+993)</option>
<option value="+994">🇦🇿 Azerbaijan (+994)</option>
<option value="+995">🇬🇪 Georgia (+995)</option>
<option value="+996">🇰🇬 Kyrgyzstan (+996)</option>
<option value="+998">🇺🇿 Uzbekistan (+998)</option>