@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/image/SignIn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow: auto;
    position: relative; /* Add relative positioning for absolute positioning of close button */
}

.password-reset-container {
    background-color: #FFF3E2;
    padding: 2rem;
    border-radius: 30px;
    max-width: 600px;
    text-align: left;
}

.password-reset-container h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.password-reset-container form {
    display: flex;
    flex-direction: column;
}

.password-reset-container input[type="email"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFF3E2;
}

.password-reset-container button {
    background-color: #9DAD6F;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 30%;
}

.password-reset-container button:hover {
    background-color: #5a6268;
}

.close-button {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 30px; /* Adjust as needed */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #E6E6EB;
    z-index: 2;
    text-decoration: none; /* Remove underline */

}

.close-button:hover {
    color: #000;
}

.text-container {
    color: white; /* Adjust text color as needed */
    max-width: 40%; /* Ensure the text container doesn't take too much space */
    position: absolute; /* Use absolute positioning for precise control */
    top: 3%; /* Adjust this value to move it vertically */
    left: 30px; /* Adjust this value to move it horizontally */
}

.text-container h1 {
    font-size: 15px; /* Adjust this value to make the text larger */
    margin-bottom: 0px;
    color: #E6E6EB;
    text-align: left; /* Optional: Adjust alignment as needed */
}