@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
     color: inherit; 
    font-size: inherit; */
  }

.main-bg{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.0),rgba(33,37,41,1)),url('/static/img/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 5rem;
   
}

.profile-bg{
 background-color: ghostwhite;
   
}

.hero-card:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;


}

.justify-card{
    font-size: 20px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;

}

.profile-navbar-item{
    font-weight: 500;
    color: black;
}

.profile-navbar-item:hover{
    font-weight: 500;
    color: #5C87B2;
}

.active-link {
    color: #5C87B2; /* Bootstrap default blue color */
    text-decoration: underline;
}

.oritentation-task:hover{
    color: #5C87B2
}


.btn-blue{
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #5C87B2;
    --bs-btn-border-color: #5C87B2;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(#5C87B2, 10%)};
    --bs-btn-hover-border-color: #{shade-color(#5C87B2, 10%)};
    --bs-btn-focus-shadow-rgb: #5C87B2;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color(#5C87B2, 20%)};
    --bs-btn-active-border-color: #{shade-color(#5C87B2, 20%)}
}



/* body{
    height: 100vh;
    background: url('/static/img/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg') no-repeat center center fixed;
    background-size: cover; 
} */
