@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
     color: inherit; 
    font-size: inherit; */
  }

.main-bg{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.0),rgba(33,37,41,1)),url('/static/img/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 5rem;
   
}

.profile-bg{
 background-color: ghostwhite;
   
}

/* body{
    height: 100vh;
    background: url('/static/img/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg') no-repeat center center fixed;
    background-size: cover; 
} */
