{% extends 'base/main.html' %}
{% load static %}

{% block content %}
{% include 'base/roaster_profile_navbar.html' %}

<div class="container-fluid" style="background-color: #f8f9fa;">
    <div class="container-fluid pe-5 py-3">

        <div class="row d-flex justify-content-start g-5">
            <div class="col-4">
                <h3 class="ps-5">
                    Search by:
                </h3>
                <!-- Filters -->
                <div class="container-fluid">
                    
                    <div class="dropdown open pt-3">
                        <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="triggerId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <button class="dropdown-item" href="#"> Filter 1 </button>
                            <button class="dropdown-item" href="#">
                                Filter 2
                            </button>
                        </div>
                    </div>

                    <div class="dropdown open pt-3">
                        <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="triggerId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <button class="dropdown-item" href="#"> Filter 1 </button>
                            <button class="dropdown-item" href="#">
                                Filter 2
                            </button>
                        </div>
                    </div>

                    <div class="dropdown open pt-3">
                        <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="triggerId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <button class="dropdown-item" href="#"> Filter 1 </button>
                            <button class="dropdown-item" href="#">
                                Filter 2
                            </button>
                        </div>
                    </div>

                </div>

                <div class="pt-5 mt-5">

                    <!-- Still need to modify -->

                    <div class="card shadow-sm" style="background-color: white;">
                        <div class="card-header">
                            <h5 class="card-title">Connection Manager</h5>
                        </div>
                        <div class="card-body">
                            {% for meeting in meeting_requests %}
                                <div class="d-flex justify-content-between align-items-center mb-2 p-2 rounded
                                    {% if meeting.status == 'accepted' %} bg-success
                                    {% elif meeting.status == 'pending' %} bg-primary
                                    {% elif meeting.status == 'rejected' %} bg-danger
                                    {% endif %}">
                                    <div>
                                        <strong>{{ meeting.requestee.username }}</strong>
                                        <div>{{ meeting.proposed_date|date:"n/j/Y" }}</div>

                                        <div>{{ meeting.proposed_date|time:"g:iA" }} est.</div>
                                    </div>
                                    <div class="d-flex">
                                        {% if meeting.status == 'pending' %}
                                            <form method="post" action="{% url 'connections' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                                <button type="submit" name="retrieve_meeting_request" class="btn btn-sm btn-warning">Withdraw</button>
                                            </form>
                                        {% elif meeting.status == 'rejected' %}
                                            <form method="post" action="{% url 'connections' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                                <button type="submit" name="delete_meeting_request" class="btn btn-sm btn-danger">Delete</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            {% empty %}
                                <p>No meeting requests available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-8" style="overflow-x: auto; max-height: 100vh;">

                <h3 class="pb-3">
                    Search Results:
                </h3>


                <!-- Example Card -->
                <div class="container d-flex border rounded p-3 pb-4 mb-3 bg-white" style="flex-direction: column;">


                    <div class="container d-flex" style="flex-direction: row;">
                        <img class="rounded-circle" width="100px" height="100px" src="{% if farmer.profile_picture %}{{ farmer.profile_picture.url }}{% else %}{% static 'img/placeholder.png' %}{% endif %}" alt="">
                        <div class="col ms-2 container d-flex" style="flex-direction: column;">
                            <h4 class="mb-0"> 'Farmer's Name' </h4>
                            <p class="mb-2"> 'Role' of 'Farm name' in 'Farmer location'</p>
                            <p class="mb-0"> The story text will go here, however not all 
                                of it will be displayed. Perhaps the first three or four 
                                sentences, then, the user can click to expand the story if 
                                interested, and be prompted to view their full profile, 
                                where they can then request a meeting and... </p>
                        </div>
                    </div>
                    <hr>
                    <div class="container row d-flex" style="flex-direction: row;">
                        <div class="col-auto pe-5">
                            <p class="mb-1" style="font-weight: 500;">Cultivars:</p>
                            <p class="mb-1"> Arabica </p>
                        </div>
                        <div class="col-auto px-2">
                            <p class="mb-1" style="font-weight: 500;">Annual Yield:</p>
                            <p class="mb-1" style="font-weight: 500;"> Cup Scores:</p>
                            <p class="mb-1" style="font-weight: 500;">Processing:</p>
                        </div>
                        <div class="col-auto px-2 text-end">
                            <p class="mb-1">12,000 lbs</p>
                            <p class="mb-1">95 - 98</p>
                            <p class="mb-1">Washed</p>

                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            {% if can_request_meetings %}
                            <a href="#" class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#requestMeetingModal" data-user-id="{{ farmer.user.id }}">Connect</a>
                            {% else %}
                            <p class="text-warning">You have reached the maximum number of meeting requests.</p>
                            {% endif %}
                            <a href="#" class="btn btn-primary">View Profile</a>


                        </div>
                    </div>

                </div>

                <!-- Display Farmers -->
                {% for farmer in farmers %}
                
                <div class="container d-flex border rounded p-3 pb-4 mb-3 bg-white" style="flex-direction: column;">


                    <div class="container d-flex" style="flex-direction: row;">
                        <img class="rounded-circle" width="100px" height="100px" src="{% if farmer.profile_picture %}{{ farmer.profile_picture.url }}{% else %}{% static 'img/placeholder.png' %}{% endif %}" alt="">
                        <div class="col ms-2 container d-flex" style="flex-direction: column;">
                            <h4 class="mb-0"> {{ farmer.firstname }} {{ farmer.lastname }} </h4>
                            <p class="mb-2">{{farmer.main_role}} of {{ farmer.farm_name }} located in {{ farmer.city }}, {{ farmer.country }}</p>
                            <p class="mb-0">{{farmer.bio}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="container row d-flex" style="flex-direction: row;">
                        <div class="col-auto pe-5">
                            <p class="mb-1" style="font-weight: 500;">Cultivars:</p>
                            <p class="mb-1"> {{ farmer.cultivars }} </p>
                        </div>
                        <div class="col-auto px-2">
                            <p class="mb-1" style="font-weight: 500;">Annual Yield:</p>
                            <p class="mb-1" style="font-weight: 500;"> Cup Scores:</p>
                            <p class="mb-1" style="font-weight: 500;">Processing:</p>
                        </div>
                        <div class="col-auto px-2 text-end">
                            <p class="mb-1"> {{ farmer.annual_production }} </p>
                            <p class="mb-1"> {{ farmer.cup_scores_received }} </p>
                            <p class="mb-1"> {{ farmer.processing_method }} </p>

                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            {% if can_request_meetings %}
                            <a href="#" class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#requestMeetingModal" data-user-id="{{ farmer.user.id }}">Connect</a>
                            {% else %}
                            <p class="text-warning">You have reached the maximum number of meeting requests.</p>
                            {% endif %}
                            <a href="#" class="btn btn-primary">View Profile</a>


                        </div>
                    </div>

                </div>

                {% empty %}
                    <p>None availble.</p>
                {% endfor %}
                
            </div>
        </div>

    </div>
</div>


<style>
    .container-fluid.profile-bg {
        padding: 20px;
    }
    .d-flex.justify-content-between {
        margin: 0 auto;
    }
    .card {
        margin: 10px;
    }
</style>

<!-- Request Meeting Modal -->
<div class="modal fade" id="requestMeetingModal" tabindex="-1" aria-labelledby="requestMeetingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestMeetingModalLabel">Request Meeting</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="meetingRequestForm">
                {% csrf_token %}
                <input type="hidden" name="user_id" id="user_id_input">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="proposed_date" class="form-label">Select Date and Time</label>
                        {{ form.proposed_date.errors }}
                        {{ form.proposed_date }}
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message/Notes</label>
                        {{ form.message.errors }}
                        {{ form.message }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send Request</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Show modal if `show_modal` is True
    {% if show_modal %}
    var myModal = new bootstrap.Modal(document.getElementById('requestMeetingModal'), {
        keyboard: false
    });
    myModal.show();
    {% endif %}

    // Capture the user ID when clicking the Connect button
    document.querySelectorAll('[data-bs-target="#requestMeetingModal"]').forEach(button => {
        button.addEventListener('click', function() {
            var userId = this.getAttribute('data-user-id');
            document.getElementById('user_id_input').value = userId;
        });
    });
</script>

{% endblock %}
