{% extends 'base/main.html' %}
{% load static %}

{% block content %}

{% include 'base/profile_navbar.html' %}
<div class="container-fluid profile-bg pb-5" style="height: 100vh;">

    <div class="d-flex justify-content-center pt-5" >
        <div class="shadow-sm rounded" style="background-color: white; width:95%" >
        <div class="">
            <img  width="100%" height="150px" src="{% static 'img/dan-meyers-IQVFVH0ajag-unsplash.jpg' %}" alt="">
        </div>
        <div>
            <div class="d-flex justify-content-center py-2" style="" >
                <div class="">
                     {% if farmer_profile.profile_picture %}
                    <img class="rounded-circle border border-info" width="90px" height="90px" src="{{farmer_profile.profile_picture.url}}" alt="" style="margin-top: -30px;">
                    {% endif %}
                </div>
                <div class="ms-4 mt-2" >
                    <div class="d-flex">
                        <h3>{{farmer_profile.firstname}} {{farmer_profile.lastname}}</h3>
                        <a  href="#profModal" data-bs-toggle="modal" data-bs-target="#profModal">
                            <svg class="ms-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </a>
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch demo modal
                          </button> -->
            
                    </div>
                    <span>{{farmer_profile.city}}, </span>
                    <span>{{farmer_profile.state}}, </span>
                    <span>{{farmer_profile.country}}</span>
                </div>
            
            
                </div>
        </div>


    </div>
    </div>
    
   

    <div class="container-fluid pt-5 px-4">
        <div class="row">
            <div class="col-sm-6" >
                <div class="px-4 py-2 rounded shadow-sm" style="background-color: white;height: 100%;">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div>
                                <h2>Your Story</h2> 
                            </div>
                            <div class="mt-2 ms-2">
                                 <!-- <span style="background-color: #5078C5;" class="badge rounded-pill text-bg-info">{{farmer_stories.language}}</span>  -->
                                 <div class="dropdown">
                                    <a id="lang_a" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{farmer_stories.first.language}}
                                    </a>
                                   

                                    <ul id="lang_ul" class="dropdown-menu">
                                        {% for language in languages %}
                                        {% if language.name != farmer_stories.first.language %}
                                        <li class="lang_dd" data-language={{language.id}} ><a class="dropdown-item" href="#">{{language.name}}</a></li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                  </div>

                            </div>
                            
                        </div>   
                        <div class="mt-1">
                            <button id="edit_story" class="ms-2 btn btn-sm"  style="background-color: blue; color: white; " data-bs-toggle="modal" data-bs-target="#storyModal">edit</button>
                            <!-- <button id="add_story" class="ms-2 btn btn-sm"  style="background-color: green; color: white; " data-bs-toggle="modal" data-bs-target="#addstoryModal">Add new story</button> -->
                        </div>
                        
                        
                    </div> 
                    <div id="story_div">

                    
                    <p id="story-text">
                       {{farmer_stories.first.story_text}}
                    </p>
                </div>
    
                </div>

            </div>

            <div class="col-sm-6">

                <div class="px-4 py-2  rounded shadow-sm" style="background-color: white; height: 100%;">
                    <!-- <div id="cale"  >

                    </div> -->
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Connections</h2>
                        <a href="">View all</a>
            <!--            <button class="btn btn-sm" style="background-color: blue; color: white;">Action</button>-->
                    <style>
                        .meeting-accepted {
                            background-color: #8A9A5B; /* Green */
                            color: black;
                        }
                        .meeting-pending {
                            background-color: #5078C5; /* Blue */
                            color: black;
                        }
                        .meeting-rejected {
                            background-color: #FCD6DB; /* Red */
                            color: black;
                        }
                        .meeting-container {
                            padding: 10px;
                            border-radius: 8px;
                            margin-bottom: 10px;
                        }
                    </style>
                    </div>

                    {% for meeting in pending_requests %}
                    <div class="d-flex justify-content-between align-items-center mb-2 p-2 rounded"  style="background-color: #fafafa;" >
                        <div>
                            <strong>{{ meeting.requester.username }}</strong>
                            <div class="d-flex">
                                <div>{{ meeting.proposed_date|date:"n/j/Y" }}</div>
                                <div class="ms-2">{{ meeting.proposed_date|time:"g:iA" }} est.</div>

                            </div>
                            <p class="con_msg">{{ meeting.message|truncatechars:50 }}</p>

                            
                        </div>
                        <div class="d-flex">
                            {% if meeting.status == 'pending' %}
                                <form method="post" action="{% url 'connections' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                    <button type="submit" name="retrieve_meeting_request" class="btn btn-sm btn-success">Accept</button>
                                    <button type="submit" name="retrieve_meeting_request" class="btn btn-sm btn-danger">Reject</button>
                                </form>
                            {% elif meeting.status == 'rejected' %}
                                <form method="post" action="{% url 'connections' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                    <button type="submit" name="delete_meeting_request" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>No meeting requests available.</p>
                {% endfor %}
                
                     

                </div>
               
            </div>

           
        </div>
        <div class="row mt-3 px-3 py-3 shadow-sm rounded" style="background-color: white;">
            <div class="d-flex py-2 ms-3 justify-content-between">
                <div>
                <h2>{{ farmer_profile.farm_name }}</h2>
                </div>
                <div>
                    <!-- <button class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Edit Details</button> -->
                     <a href="{% url 'edit_farmer_details' %}" class="btn  btn-primary">Edit Details</a>

                </div>

            </div>
            <div class="col-sm-6">
                <div class=" py-2 ms-3 rounded farm-info">
                    
                    <div class="d-flex gap-3">
                        <span class="fw-medium">Farm Size:   </span>
                        <span>{{ farmer_profile.farm_size }} </span>
                    </div>
                    <div class="d-flex mt-3  gap-3">
                        <span class="fw-medium">Harvest Season: </span>
                        {% for season in harvest_seasons %}
                        <span>{{ season }},</span>
                        {% endfor %}
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Annual Yield: </span>
                        <span>{{ farmer_profile.annual_production }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cultivars(Variety): </span>
                        <span>{{ farmer_profile.cultivars }}</span>
                    </div>
                    <!-- <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cup Scores: </span>
                        <span>{{ farmer_profile.cup_scores_received }}</span>
                    </div>  -->
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cup Scores:: </span>
                        {% for score in cup_scores %}
                        <span class="ms-0">{{ score }},</span>
                        {% endfor %}
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cup Scores Source: </span>
                        <span>{{ farmer_profile.source_of_cup_scores }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3" style="word-wrap: break-word;">
                        <span class="fw-medium">Quality Report: </span>
                        <a href="{{ farmer_profile.quality_report_link }}"><span>{{ farmer_profile.quality_report_link }}</span></a>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Affiliation: </span>
                        <span>{{ farmer_profile.affiliation }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Processing Method: </span>
                        {% for method in processing_methods %}
                        <span>{{ method }},</span>
                        {% endfor %}
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Processing Desc: </span>
                        <span>{{ farmer_profile.processing_description }}</span>
                    </div>
    
                    
                </div>
    
            </div>

            <div class="col-sm-6"> 
                <div class="row">
                    {% if farmer_photos %}
                    {% for photo in farmer_photos %}
                        {% if photo.photo %}
                        <div class="col-sm-4 mb-3" style="height: 200px;width: 200px;">
                            <img style="width: 100%;"   class="rounded" src="{{photo.photo.url}}" alt="..." >
                            <a href="{% url 'delete_farmer_photo' photo.id %}" class="btn btn-danger btn-sm mt-2">Delete</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                      
                    <!-- <div class="col-sm-4 mb-3" style="height: 200px;width: 200px;">
                        <img style="width: 100%;" class="rounded" src="{% static 'img/128px-Placeholder_view_vector.svg.png' %}" alt="..." >
                    </div>  -->
                    <div class="col-sm-4 mb-3 ">
                        <a href="#photoModal" data-bs-toggle="modal" data-bs-target="#photoModal">
                            <svg style="fill: green;" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-plus-circle-fill mt-4" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                              </svg>
                        </a>
                      
                    </div>
                    {% else %}
                     <div class="col-sm-4 mb-3" style="height: 150px;width: 150px;">
                        <img style="width: 100%;" class="rounded" src="{% static 'img/128px-Placeholder_view_vector.svg.png' %}" alt="..." >
                    </div> 
                    <div class="col-sm-4 mb-3 ">
                        <a href="#photoModal" data-bs-toggle="modal" data-bs-target="#photoModal">
                            <svg style="fill: green;" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-plus-circle-fill mt-4" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                              </svg>
                        </a>
                      
                    </div>
                        <!-- <div class="col-sm-4 mb-3">
                            <img class="rounded" src="media/farmer_photos/128px-Placeholder_view_vector.svg.png" alt="..." >
                        </div>  -->
                    {% endif %}
                    


                    <!-- <div class="col-sm-4 mb-3">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img  width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img  width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div> -->

                    
                </div>
                <!-- <div class="row mt-2">
                    <div class="col-sm-4">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4">
                    <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                </div> -->
                
    
            </div>
            

        </div>
    </div>

    <div class="text-center mt-3 mb-5">
        <button class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#profModal">Publish Profile</button>

    </div>
</div>


<!-- Profile Picture Modal -->
<div class="modal fade" id="profModal" tabindex="-1" aria-labelledby="profModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="profModalLabel">Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            
            <div class="input-group mb-3">
                    {{ dp_form.profile_picture }}
                    <!-- <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label> -->

             </div>
             <div class="input-group mb-3">
                    {{ dp_form.firstname }}
             </div>
             <div class="input-group mb-3">
                {{ dp_form.lastname }}
            </div>
            <div class="input-group mb-3">
                {{ dp_form.city }}
            </div>
            <div class="input-group mb-3">
                {{ dp_form.state }}
            </div>
            <div class="input-group mb-3">
                {{ dp_form.country }}
            </div>
             <div>

             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="main_form"  class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<!-- Story Modal -->
<div class="modal fade" id="storyModal" tabindex="-1" aria-labelledby="storyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="storyModalLabel">Edit Story</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="edit_story_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

            <div class="input-group mb-3">
                    {{ story_form.language }}
            </div>
            
            <div class="input-group mb-3">
                   
                    {{ story_form.story_text }}
                    <!-- <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="story_form" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<!-- Add Story Modal -->
<div class="modal fade" id="addstoryModal" tabindex="-1" aria-labelledby="addstoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addstoryModalLabel">Add New Story</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="add_story_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

            <div class="input-group mb-3">
                    {{ add_story_form.language }}
                      
            </div>
            
            <div class="input-group mb-3">
                   
                    {{ add_story_form.story_text }}
                    <!-- <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="story_form" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Add Picture Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoModalLabel">Upload New Photo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'upload_photo' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            <div class="input-group mb-3">
                {{ photo_form.photo }}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Edit Details Modal -->
  <!-- Scrollable modal -->
   <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Farm Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'farmer_dashboard' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            <div class="input-group mb-3">
                {{ main_form.farm_name }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.farm_size }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.harvest_season }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.annual_production }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.cultivars }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.cup_scores_received }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.source_of_cup_scores }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.quality_report_link }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.affiliation }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.processing_method }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.processing_description }}
            </div>
       
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="main_form" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>




{% endblock %}

