{% extends 'base/main.html' %}
{% load static %}

{% block content %}

{% include 'base/roaster_profile_navbar.html' %}
<div class="container-fluid profile-bg " style="height: 100vh;">

    <div class="d-flex justify-content-center pt-5" >
        <div class="shadow-sm rounded" style="background-color: white; width:95%" >
        <div class="">
            <img  width="100%" height="150px" src="{% static 'img/dan-meyers-IQVFVH0ajag-unsplash.jpg' %}" alt="">
        </div>
        <div>
            <div class="d-flex justify-content-center py-2" style="" >
                <div class="">
                     {% if farmer_profile.profile_picture %}
                    <img class="rounded-circle border border-info" width="90px" height="90px" src="{{farmer_profile.profile_picture.url}}" alt="" style="margin-top: -30px;">
                    {% endif %}
                </div>
                <div class="ms-4 mt-2" >
                    <div class="d-flex">
                        <h3>{{farmer_profile.firstname}} {{farmer_profile.lastname}}</h3>
                    </div>
                    <span>{{farmer_profile.city}}, </span>
                    <span>{{farmer_profile.state}}, </span>
                    <span>{{farmer_profile.country}}</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="container-fluid pt-5 px-4">
        <div class="row">
            <div class="col-sm-6" >
                <div class="px-4 py-2 rounded shadow-sm" style="background-color: white;height: 100%;">
                    <h2> Your Story</h2>
                    <p>
                       {{farmer_profile.bio}}
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="px-4 py-2 pt-5 rounded shadow-sm" style="background-color: white; height: 100%;">
                    <div id="cale"  >
                        <!-- Placeholder for calendar or additional information -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 px-3 py-3 shadow-sm rounded" style="background-color: white;">
            <div class="d-flex py-2 ms-3 justify-content-between">
                <div>
                <h2>{{ farmer_profile.farm_name }}</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="py-2 ms-3 rounded">
                    <div class="d-flex gap-3">
                        <span class="fw-medium">Farm Size:   </span>
                        <span>{{ farmer_profile.farm_size }}</span>
                    </div>
                    <div class="d-flex mt-3  gap-3">
                        <span class="fw-medium">Harvest Season: </span>
                        <span>{{ farmer_profile.harvest_season }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Annual Yield: </span>
                        <span>{{ farmer_profile.annual_production }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cultivars (Variety): </span>
                        <span>{{ farmer_profile.cultivars }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cup Scores: </span>
                        <span>{{ farmer_profile.cup_scores_received }}</span>
                    </div> 
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Cup Scores Source: </span>
                        <span>{{ farmer_profile.source_of_cup_scores }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Quality Report: </span>
                        <span>{{ farmer_profile.quality_report_link }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Affiliation: </span>
                        <span>{{ farmer_profile.affiliation }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Processing Method: </span>
                        <span>{{ farmer_profile.processing_method }}</span>
                    </div>
                    <div class="d-flex mt-3 gap-3">
                        <span class="fw-medium">Processing Desc: </span>
                        <span>{{ farmer_profile.processing_description }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6"> 
                <div class="row">
                    {% for photo in farmer_photos %}
                        {% if photo.photo %}
                        <div class="col-sm-4 mb-3">
                            <img width="100%" height="200px" class="rounded" src="{{photo.photo.url}}" alt="..." >
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
