{% extends 'base/main.html' %}
{% load static %}
{% block head %}
<link href="{% static 'styles/farmer_signup.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="ms-4 d-flex">
            <div style="color: #212529;" class="navbar-brand p-0 me-0">COFFEE</div>
            <div style="color: #5C87B2;" class="navbar-brand p-0">SPACE</div>
            <div class="me-4" id="google_translate_element"></div>
        </div>
    </nav>
    <hr>

    <div class="container mt-5 whole-cont">

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>

        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div class="">
                All fields marked with an asterisk are required, fields without one may be completed later.
            </div>
          </div>

          <!-- Display form errors -->
          {% if farmer_form.errors %}
          <div class="alert alert-dismissible alert-danger">
              <ul>
                  {% for field, errors in farmer_form.errors.items %}
                      <li>{{ field }}: {{ errors }}</li>
                  {% endfor %}
                  {% for field, errors in story_form.errors.items %}
                      <li>{{ field }}: {{ errors }}</li>
                  {% endfor %}

              </ul>
          </div>
      {% endif %}


        <div>
            <h2 class="ms-3">About you</h2>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Personal information</h3>
                        <p>Provide your personal information</p>
                    </div>

                    <div class="col-md-6">
                                <div class="form-floating form-group">
                                    {{ farmer_form.firstname }}
                                    <label for="{{ farmer_form.firstname.id_for_label }}">{{ farmer_form.firstname.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ farmer_form.middlename }}
                                    <label for="{{ farmer_form.middlename.id_for_label }}">{{ farmer_form.middlename.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ farmer_form.lastname }}
                                    <label for="{{ farmer_form.lastname.id_for_label }}">{{ farmer_form.lastname.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ farmer_form.country }}
                                    <label for="{{ farmer_form.country.id_for_label }}">{{ farmer_form.country.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ farmer_form.state }}
                                    <label for="{{ farmer_form.state.id_for_label }}">{{ farmer_form.state.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ farmer_form.city }}
                                    <label for="{{ farmer_form.city.id_for_label }}">{{ farmer_form.city.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ farmer_form.phone_number }}
                                    <label for="{{ farmer_form.phone_number.id_for_label }}">{{ farmer_form.phone_number.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ story_form.language }}
                                    <label for="{{ story_form.language.id_for_label }}">{{ story_form.language.label }}</label>
                                </div>
                                <div class="form-floating form-group">
                                    {{ story_form.story_text }}
                                    <label for="{{ story_form.story_text.id_for_label }}">{{ story_form.story_text.label }}</label>
                                </div>
                                <!-- <div class="form-floating form-group">
                                    {{ farmer_form.bio }}
                                    <label for="{{ farmer_form.bio.id_for_label }}">{{ farmer_form.bio.label }}</label>
                                </div> -->
                            <div class="row mt-3">
                                <div class="col-12 d-flex align-items-center upload-btn" onclick="document.getElementById('id_profile_picture').click();">
                                    <div class="upload-btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                                            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                    </div>
                                    <div class="ps-3" style="flex-grow: 1;">
                                        <p id="upload-label">Upload Profile Photo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <input type="file" id="id_profile_picture" name="profile_picture" style="display:none;" onchange="updateUploadLabel()">
                                </div>
                            </div>
                    </div>
    
                    
                </div>

            </div>
           

            <div style="margin-top: 7rem; margin-bottom: 7rem;"></div> <!-- Adding more empty space -->

            <div>
                <h2>Tell us more about your farm</h2>
            </div>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Farm Info</h3>
                        <p>Provide info about your farm</p>
                    </div>
                    <div class="col-md-6">
                            <div class="form-floating form-group">
                                {{ farmer_form.farm_name }}
                                <label for="{{ farmer_form.farm_name.id_for_label }}">{{ farmer_form.farm_name.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.location }}
                                <label for="{{ farmer_form.location.id_for_label }}">{{ farmer_form.location.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.farm_size_unit }}
                                <label for="{{ farmer_form.farm_size_unit.id_for_label }}">{{ farmer_form.farm_size_unit.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.farm_size }}
                                <label for="{{ farmer_form.farm_size.id_for_label }}">{{ farmer_form.farm_size.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.annual_production_unit }}
                                <label for="{{ farmer_form.annual_production_unit.id_for_label }}">{{ farmer_form.annual_production_unit.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.annual_production }}
                                <label for="{{ farmer_form.annual_production.id_for_label }}">{{ farmer_form.annual_production.label }}</label>
                            </div>
                        
                            <div>{{ farmer_form.harvest_season.label }}</div>
                            <!-- <div>{{ farmer_form.harvest_season }}</div> -->
                            {% for checkbox in farmer_form.harvest_season %}
                            <div class="form-check form-check-inline">
                                {{checkbox}}
                            </div>
                            {% endfor %}
                            
                            <!-- <div class="form-group">
                                <label for="{{ farmer_form.harvest_season.id_for_label }}">{{ farmer_form.harvest_season.label }}</label>
                                {{ farmer_form.harvest_season }}
                            </div> -->
                            <div class="form-floating form-group">
                                {{ farmer_form.cultivars }}
                                <label for="{{ farmer_form.cultivars.id_for_label }}">{{ farmer_form.cultivars.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.cup_scores_received }}
                                <label for="{{ farmer_form.cup_scores_received.id_for_label }}">{{ farmer_form.cup_scores_received.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.source_of_cup_scores }}
                                <label for="{{ farmer_form.source_of_cup_scores.id_for_label }}">{{ farmer_form.source_of_cup_scores.label }}</label>
                            </div>
                            <div class="form-floating form-group">
                                {{ farmer_form.quality_report_link }}
                                <label for="{{ farmer_form.quality_report_link.id_for_label }}">{{ farmer_form.quality_report_link.label }}</label>
                            </div>
                            <fieldset>
                                <div>{{ farmer_form.processing_method.label }}</div>
                                {% for checkbox in farmer_form.processing_method %}
                                <div class="form-check form-check-inline">
                                    {{ checkbox }}
                                </div>
                                {% endfor %}
                            </fieldset>
                            <div class="form-floating form-group">
                                {{ farmer_form.processing_description }}
                                <label for="{{ farmer_form.processing_description.id_for_label }}">{{ farmer_form.processing_description.label }}</label>
                            </div>
                            <!-- <div class="form-floating form-group">
                                {{ farmer_form.processing_description }}
                                <label for="{{ farmer_form.processing_description.id_for_label }}">{{ farmer_form.processing_description.label }}</label>
                            </div> -->
                        <!-- <p>Preferred Communication Method</p> -->
                            <div class="form-floating form-group">
                                {{ farmer_form.preferred_communication_method }}
                                <label for="{{ farmer_form.preferred_communication_method.id_for_label }}">{{ farmer_form.preferred_communication_method.label }}</label>
                            </div>
                        <!-- <p>Main Role</p> -->
                            <div class="form-floating form-group">
                                {{ farmer_form.main_role }}
                                <label for="{{ farmer_form.main_role.id_for_label }}">{{ farmer_form.main_role.label }}</label>
                            </div>

                    </div>

                </div>
               
                   
            </div>
            <div class="row mt-5">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Save and Continue</button>
                </div>
            </div>
            <div style="margin-top: 7rem; margin-bottom: 7rem;"></div> <!-- Adding more empty space -->

            
        </form>
    </div>
</div>
<script>
    function updateUploadLabel() {
        const input = document.getElementById('id_profile_picture');
        const label = document.getElementById('upload-label');
        if (input.files.length > 0) {
            label.textContent = input.files[0].name;
        } else {
            label.textContent = 'Upload Profile Photo';
        }
    }
</script>
{% endblock %}