{% extends 'base/main.html' %}
{% load static %}

{% block content %}

{% include 'base/profile_navbar.html' %}
<div class="container-fluid profile-bg pb-5" style="min-height: 100vh; background-color: #D8D8DF;">

    <div class="d-flex justify-content-center pt-4" >
        <div class="shadow rounded-3" style="background-color: ghostwhite; width:95%" >
        <div class="">
            <img width="100%" height="150px" style="object-fit: cover;" src="{% static 'img/dan-meyers-IQVFVH0ajag-unsplash.jpg' %}" alt="">
        </div>
        <div>
            <div class="d-flex justify-content-center py-2" style="" >
                <div class="">
                     {% if farmer_profile.profile_picture %}
                    <img class="rounded-circle border border-info" width="90px" height="90px" src="{{farmer_profile.profile_picture.url}}" alt="" style="margin-top: -30px;">
                    {% endif %}
                </div>
                <div class="ms-4 mt-2 pb-2">
                    <div class="d-flex">
                        <h3 class="mb-0" style="font-weight: 550;">{{farmer_profile.firstname}} {{farmer_profile.lastname}}</h3>
                        <a  href="#profModal" data-bs-toggle="modal" data-bs-target="#profModal">
                            <svg class="ms-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </a>
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch demo modal
                          </button> -->
            
                    </div>
                        <span style="font-weight: 600;">{{farmer_profile.city}}, </span>
                        <span style="font-weight: 600;">{{farmer_profile.state}}, </span>
                        <span style="font-weight: 600;">{{farmer_profile.country}}</span>
                    </div>
            
            
                </div>
        </div>


    </div>
    </div>
    
   

    <div class="container-fluid pt-3 px-5">
        <div class="row">
            <div class="col-sm-6" >
                <div class="px-4 py-2 rounded-3 shadow" style="background-color: ghostwhite;height: 100%;">
                    <div class="d-flex justify-content-between pt-3"> 
                        <h3 style="font-weight: 550;">Your Story</h3>
                        <div class="">
                            <button class="ms-2 btn btn-sm"  style="background-color: #5C87B2; color: white; " data-bs-toggle="modal" data-bs-target="#storyModal">Edit</button>
                        </div>
                        
                    </div> 
                    <p>
                       {{farmer_profile.bio}}
                    </p>
    
                </div>

            </div>

            <div class="col-sm-6">

                <div class="px-4 py-2  rounded-3 shadow" style="background-color: ghostwhite; height: 100%;">
                    <!-- <div id="cale"  >

                    </div> -->
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <h3 style="font-weight: 550;">Connections</h3>
            <!--            <button class="btn btn-sm" style="background-color: blue; color: white;">Action</button>-->
                    <style>
                        .meeting-accepted {
                            background-color: #8A9A5B; /* Green */
                            color: black;
                        }
                        .meeting-pending {
                            background-color: #5078C5; /* Blue */
                            color: black;
                        }
                        .meeting-rejected {
                            background-color: #FCD6DB; /* Red */
                            color: black;
                        }
                        .meeting-container {
                            padding: 10px;
                            border-radius: 8px;
                            margin-bottom: 10px;
                        }
                    </style>
                    </div>
                    <ul class="list-unstyled">
                        {% for meeting_request in meeting_requests_as_requester %}
                            <li class="mb-3">
                                <div class="d-flex justify-content-between align-items-center p-2 rounded
                                    {% if meeting_request.status == 'accepted' %} meeting-accepted
                                    {% elif meeting_request.status == 'pending' %} meeting-pending
                                    {% elif meeting_request.status == 'rejected' %} meeting-rejected
                                    {% endif %}">
                                    <div>
                                        <strong>{{ meeting_request.requestee.username }}</strong><br>
                                        <span>Meeting Request <strong>{{ meeting_request.status }}</strong></span>
                                    </div>
                                    <div class="text-end">
                                        <span>{{ meeting_request.proposed_date|date:"n/j/Y" }}</span><br>
                                        <span>{{ meeting_request.proposed_time|time:"g:iA" }} est.</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                </div>
               
            </div>

           
        </div>
        <div class="row mt-3 px-3 py-3 shadow rounded-3" style="background-color: ghostwhite;">
            <div class="d-flex py-3 px-3 justify-content-between">
                <div>
                    <h3 style="font-weight: 550;">{{ farmer_profile.farm_name }}</h3>
                </div>
                <div>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal" style="background-color: #5C87B2;">Edit Details</button>

                </div>

            </div>
            <div class="col-sm-4">
                <!--<div class=" py-2 ms-3 rounded farm-info">
                    
                    <div class="d-flex gap-3">
                        <span style="font-weight: 550;">Farm Size:   </span>
                        <span>{{ farmer_profile.farm_size }}</span>
                    </div>
                    <div class="d-flex mt-2  gap-3">
                        <span style="font-weight: 550;">Harvest Season: </span>
                        <span>{{ farmer_profile.harvest_season }}</span>
                    </div>
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;">Annual Yield: </span>
                        <span>{{ farmer_profile.annual_production }}</span>
                    </div>
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;">Cultivars(Variety): </span>
                        <span>{{ farmer_profile.cultivars }}</span>
                    </div>
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;">Cup Scores: </span>
                        <span>{{ farmer_profile.cup_scores_received }}</span>
                    </div> 
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;">Cup Scores Source: </span>
                        <span>{{ farmer_profile.source_of_cup_scores }}</span>
                    </div>
                    <div class="d-flex mt-2 gap-3" style="word-wrap: break-word;">
                        <span style="font-weight: 550;">Quality Report: </span>
                        <a href="{{ farmer_profile.quality_report_link }}"><span>{{ farmer_profile.quality_report_link }}</span></a>
                    </div>
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;">Affiliation: </span>
                        <span>{{ farmer_profile.affiliation }}</span>
                    </div>
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;">Processing Method: </span>
                        <span>{{ farmer_profile.processing_method }}</span>
                    </div>
                    <div class="d-flex mt-2 gap-3">
                        <span style="font-weight: 550;"">Processing Desc: </span>
                        <span>{{ farmer_profile.processing_description }}</span>
                    </div>
    
                    
                </div>-->

                <div class="py-2 ms-3 rounded farm-info">
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Farm Size:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.farm_size }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Harvest Season:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.harvest_season }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Annual Yield:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.annual_production }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Cultivars (Variety):</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.cultivars }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Cup Scores:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.cup_scores_received }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Cup Scores Source:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.source_of_cup_scores }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Quality Report:</span>
                        <a href="{{ farmer_profile.quality_report_link }}" style="flex: 1; word-wrap: break-word;">{{ farmer_profile.quality_report_link }}</a>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Affiliation:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.affiliation }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Processing Method:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.processing_method }}</span>
                    </div>
                    <div style="display: flex; align-items: start; justify-content: space-between; gap: 10px; margin-top: 10px;">
                        <span style="font-weight: 550; flex: 0 0 150px;">Processing Desc:</span>
                        <span style="flex: 1; word-wrap: break-word;">{{ farmer_profile.processing_description }}</span>
                    </div>
                </div>
                
                

    
            </div>

            <div class="col-sm-8"> 
                <div class="row">
                    {% if farmer_photos %}
                    {% for photo in farmer_photos %}
                        {% if photo.photo %}
                        <div class="col-sm-4 mb-3" style="height: 200px;width: 200px;">
                            <img style="width: 100%;"   class="rounded" src="{{photo.photo.url}}" alt="..." >
                            <a href="{% url 'delete_farmer_photo' photo.id %}" class="btn btn-danger btn-sm mt-2">Delete</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                      
                    <!-- <div class="col-sm-4 mb-3" style="height: 200px;width: 200px;">
                        <img style="width: 100%;" class="rounded" src="{% static 'img/128px-Placeholder_view_vector.svg.png' %}" alt="..." >
                    </div>  -->
                    <div class="col-sm-4 mb-3 ">
                        <a href="#photoModal" data-bs-toggle="modal" data-bs-target="#photoModal">
                            <svg style="fill: green;" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-plus-circle-fill mt-4" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                              </svg>
                        </a>
                      
                    </div>
                    {% else %}
                     <div class="col-sm-4 mb-3" style="height: 200px;width: 200px;">
                        <img style="width: 100%;" class="rounded" src="{% static 'img/128px-Placeholder_view_vector.svg.png' %}" alt="..." >
                    </div> 
                    <div class="col-sm-4 mb-3 ">
                        <a href="#photoModal" data-bs-toggle="modal" data-bs-target="#photoModal">
                            <svg style="fill: green;" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-plus-circle-fill mt-4" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                              </svg>
                        </a>
                      
                    </div>
                        <!-- <div class="col-sm-4 mb-3">
                            <img class="rounded" src="media/farmer_photos/128px-Placeholder_view_vector.svg.png" alt="..." >
                        </div>  -->
                    {% endif %}
                    


                    <!-- <div class="col-sm-4 mb-3">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img  width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img  width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div> -->

                    
                </div>
                <!-- <div class="row mt-2">
                    <div class="col-sm-4">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4">
                        <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                    <div class="col-sm-4">
                    <img width="100%" height="200px" class="rounded" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="..." >
                    </div>
                </div> -->
                
    
            </div>
            

        </div>
    </div>

    <div class="text-center mt-3 mb-5">
        <button class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#profModal">Publish Profile</button>

    </div>
</div>


<!-- Profile Picture Modal -->
<div class="modal fade" id="profModal" tabindex="-1" aria-labelledby="profModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="profModalLabel">Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            
            <div class="input-group mb-3">
                    {{ dp_form.profile_picture }}
                    <!-- <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="main_form"  class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<!-- Story Modal -->
<div class="modal fade" id="storyModal" tabindex="-1" aria-labelledby="storyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="storyModalLabel">Edit Story</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'farmer_dashboard' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            
            <div class="input-group mb-3">
                    {{ story_form.bio }}
                    <!-- <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="story_form" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Picture Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoModalLabel">Upload New Photo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'upload_photo' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            <div class="input-group mb-3">
                {{ photo_form.photo }}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Details Modal -->
  <!-- Scrollable modal -->
  <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Farm Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'farmer_dashboard' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            <div class="input-group mb-3">
                {{ main_form.farm_name }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.farm_size }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.harvest_season }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.annual_production }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.cultivars }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.cup_scores_received }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.source_of_cup_scores }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.quality_report_link }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.affiliation }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.processing_method }}
            </div>
            <div class="input-group mb-3">
                {{ main_form.processing_description }}
            </div>
       
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="main_form" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>




{% endblock %}

