{% extends 'base/main.html' %}
{% load static %}

{% block content %}
{% include 'base/roaster_profile_navbar.html' %}


<div class="row px-5">
    
    <div class="col" >
        <div class="container p-3 rounded-3" style="background-color: #E6E6EB;">
            
            car
        </div>
    </div>

    <div class="col">
        <div class="container p-3 rounded-3" style="background-color: #E6E6EB;">
            <h5>
                Pending Meeting Requests
            </h5>
            <hr>
        </div>
    </div>

</div>




{% endblock %}