{% extends 'base/main.html' %}
{% load static %}

{% block content %}
    <div class="main-bg">

    {% include "base/navbar.html" %}
    <div style="margin-top: 150px" class="">
        <div class="text-center" >
            <h1 style="color: white; font-weight: bolder; font-size: 60px;;">Quality coffee,<br>straight from the<br> source. </h1>
            <p class="mt-3" style="color: ghostwhite; font-size: 20px;">Connecting specialty coffee producers <br> and roasters DIRECTLY</p>
        </div>
        <div class="text-center">
            <button style="background-color: #303C50; color: white;font-weight: bold;"  type="button" class="btn mt-3 ml-3 px-4 py-2">Start Now </button>
        </div>
        <div class="text-center">
            <button style="color: white;font-weight: lighter;" type="button" class="btn mt-3 ml-3 px-4 py-2 ">learn more</button>
        </div>

    </div>

    </div>

    <div style="background-color:#212529 ; height: 70vh;">
        <div class="container" style="padding-top: 100px;padding-bottom: 60px; color: ghostwhite;">
            <div class="row" >
                <div class="col-md-6 coll-info">
                    <h2 width="10px" style="font-weight:bold ; font-size: 40px;" class="">Understanding Coffee Circuit</h2>
                    <p width="50px" class="" style="font-weight: 400; font-size: 24px;">Coffee producers are often obscured within specialty coffee supply chains. We allow producers to be seen and heard in the stories they want to tell … without curation, censorship, or filters. We allow roasters to connect with producers they might never meet otherwise, and to know them in ways that are real and authentic.</p>
                    <div class="pt-4">
                        <button style="background-color:#9DAD6F ;color: ghostwhite;font-weight: 500;" class="btn btn-lg ">I Am A Producer</button>
                        <button style="background-color:#503B31 ;color: ghostwhite;font-weight: 500;" class="btn btn-lg mx-3">I Am A Roaster</button>
                    </div>
        
                </div>
                <div class="col-md-6" id="embed-vid">
                        <!-- <iframe  
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe> -->
                    <iframe src="https://www.youtube.com/embed/CCOMM84jhZg?si=mt0pcITgtD0RJAEQ&amp;controls=0&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="px-1 py-5" style="background-color: #D3D3D3;">
        <!-- To-do -->
        <!-- Rounded corner on top of image and shade of cards -->
        <div class="text-center">
            <p>A circuit is “a two-way communication path between points”</p>
            <h3 style="font-weight: bolder;">Transparency happens when there are no <br> obstructions.</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card me-5 text-center rounded-lg info-card">
                        <img class="card-img-top"   src="{% static 'img/cardimg1.jpeg' %}" alt="Card image cap">
                        <div class="card-body" style="height:200px">
                          <h5 class="card-title font-weight-bold">What It Is</h5>
                          <p class="card-text">A place for producers to communicate directly with roasters.<br>
                            A place for roasters to learn directly about producers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card me-5 text-center rounded-lg info-card" style="height: max-content;" >
                        <img class="card-img-top" src="{% static 'img/cardimg2.jpeg' %}" alt="Card image cap">
                        <div class="card-body" style="height:200px">
                          <h5 class="card-title font-weight-bold">What It does</h5>
                          <p class="card-text">Allows producers to share their own farm stories.<br>
                            Allows roasters to hear from, and communicate with producers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card me-5 text-center border border-radius rounded-5 info-card" style="height: max-content;" >
                        <img class="card-img-top" src="{% static 'img/bernd-dittrich-qpB6Kl_ckQM-unsplash.jpg' %}" alt="Card image cap">
                        <div class="card-body" style="height:200px">
                          <h5 class="card-title font-weight-bold">What It Isn't</h5>
                          <p class="card-text">A profit making entity.<br>
                            A place to sell or buy coffee “right now”.</p>
                        </div>
                      </div>
                </div>

            </div>

        </div>
    </div>
    <div class="px-5 py-5" style="background-color:#171A1E ;color: ghostwhite;">
        <h2 class="text-center">Frequently Asked Questions</h2>
        <div class="mt-5">

            <div style="background-color:#2C3136" class="p-3">
                <div class="d-flex">

                    <div style="width: 40px;background-color: #303C50;" class="border border-radius rounded-circle faq-rounded">
                    </div>

                    <h3 class="ms-3">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                            Who is Coffee Circuit for?
                        </div>
                    </h3>

                </div>

                  <div style="background-color:#2C3136" class="collapse" id="collapseExample">
                    <div class="card card-body" style="background-color:#2C3136">
                        Lorem ipsum dolor sit amet consectetur. Sagittis sit ut donec purus purus. Ornare amet blandit gravida iaculis tellus ut quis. Tortor euismod justo facilisi tincidunt accumsan a neque tortor.
                    </div>
                  </div>
            </div>

            <div style="background-color:#2C3136" class="p-3 mt-5">
                <div class="d-flex">

                    <div style="width: 40px;background-color: #303C50;" class="border border-radius rounded-circle faq-rounded">
                    </div>

                    <h3 class="ms-3">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="true" aria-controls="collapseExample">
                            What does Coffee Circuit do?
                        </div>
                    </h3>

                </div>

                  <div style="background-color:#2C3136" class="collapse" id="collapseExample1">
                    <div class="card card-body" style="background-color:#2C3136">
                        Lorem ipsum dolor sit amet consectetur. Sagittis sit ut donec purus purus. Ornare amet blandit gravida iaculis tellus ut quis. Tortor euismod justo facilisi tincidunt accumsan a neque tortor.
                    </div>
                  </div>
            </div>

            <div style="background-color:#2C3136" class="p-3 mt-5">
                <div class="d-flex">

                    <div style="width: 40px;background-color: #303C50;" class="border border-radius rounded-circle faq-rounded">
                    </div>

                    <h3 class="ms-3">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="true" aria-controls="collapseExample">
                            Who is behind Coffee Circuit?
                        </div>
                    </h3>

                </div>

                  <div style="background-color:#2C3136" class="collapse" id="collapseExample2">
                    <div class="card card-body" style="background-color:#2C3136">
                        Lorem ipsum dolor sit amet consectetur. Sagittis sit ut donec purus purus. Ornare amet blandit gravida iaculis tellus ut quis. Tortor euismod justo facilisi tincidunt accumsan a neque tortor.
                    </div>
                  </div>
            </div>

            <div style="background-color:#2C3136" class="p-3 mt-5">
                <div class="d-flex">

                    <div style="width: 40px;background-color: #303C50;" class="border border-radius rounded-circle faq-rounded">
                    </div>

                    <h3 class="ms-3">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="true" aria-controls="collapseExample">
                            How do I benefit from Coffee Circuit?
                        </div>
                    </h3>

                </div>

                  <div style="background-color:#2C3136" class="collapse" id="collapseExample2">
                    <div class="card card-body" style="background-color:#2C3136">
                        Lorem ipsum dolor sit amet consectetur. Sagittis sit ut donec purus purus. Ornare amet blandit gravida iaculis tellus ut quis. Tortor euismod justo facilisi tincidunt accumsan a neque tortor.
                    </div>
                  </div>
            </div>

            <div style="background-color:#2C3136" class="p-3 mt-5">
                <div class="d-flex">

                    <div style="width: 40px;background-color: #303C50;" class="border border-radius rounded-circle faq-rounded">
                    </div>

                    <h3 class="ms-3">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="true" aria-controls="collapseExample">
                            Who else benefit?
                        </div>
                    </h3>

                </div>

                  <div style="background-color:#2C3136" class="collapse" id="collapseExample2">
                    <div class="card card-body" style="background-color:#2C3136">
                        Lorem ipsum dolor sit amet consectetur. Sagittis sit ut donec purus purus. Ornare amet blandit gravida iaculis tellus ut quis. Tortor euismod justo facilisi tincidunt accumsan a neque tortor.
                    </div>
                  </div>
            </div>


        </div>
    </div>
    <footer></footer>
{% endblock %}