{% extends 'base/main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid main-bg">

    {% include "base/navbar.html" %}
    <div>

        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="row pt-5">
                <div class="text-center" >
                    <h1 class="text-white fw-bold">Quality coffee,<br>straight from the<br> source. </h1>
                    <p class="mt-3 fs-5 text-white">Communication and connectivity for <br> a more collaborative specialty coffee sector</p>
                </div>
                <div class="text-center">
                    <button style="background-color: #303C50; color: white;font-weight: bold;"  type="button" class="btn mt-3 ml-3 px-4 py-2">Start Now </button>
                </div>
                <div class="text-center">
                    <button style="color: white;font-weight: lighter;" type="button" class="btn mt-3 ml-3 px-4 py-2 ">Learn More</button>
                </div>
            </div>    
    
        </div>
    </div>


    </div>

    <div class="container-fluid">
        <div class="row align-items-stretch p-5" style="background-color:#212529; color: ghostwhite; min-height: 100vh;">
            <div class="col p-4 mx-5">
                <h2 width="10px" class="fw-semibold">Understanding <br> Coffee Circuit</h2>
                <p width="50px" class="fw-medium">Coffee producers are often lost along specialty coffee supply chains. We allow producers to be seen and heard in the stories they want to tell and heard the way they want to be, without curation, censorship, or filters. We allow roasters to connect with producers they might never meet otherwise, and to know them in ways that are real and authentic.</p>
                <div class="pt-4">
                    <button style="background-color:#9DAD6F ;color: ghostwhite" class="btn fw-semibold">I am a Producer</button>
                    <button style="background-color:#503B31 ;color: ghostwhite" class="btn fw-semibold mx-3">I am a Roaster</button>
                </div>

            </div>
            <div class="col p-4">
                <iframe class="ratio ratio-4x3"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
        </div>
    </div>


    <div class="px-1 py-5" style="background-color: #D3D3D3; min-height: 100vh;">
        <!-- To-do -->
        <!-- Rounded corner on top of image and shade of cards -->
        <div class="text-center">
            <p style="color: #31512D; font-weight: 600;">A circuit is “a two-way communication path between points”</p>
            <h2 class="fw-bold">Transparency happens when there are no obstructions.</h2>
        </div>
        <div class="d-flex mt-5 justify-content-center">
            <div class="card me-4 text-center border border-radius rounded-5" style="width: 20rem;">
                <img class="card-img-top border-top rounded-top-5 object-fit-cover" height="175px"  src="{% static 'img/esteban-benites-OEBkWvCLRvA-unsplash.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title fw-semibold mb-0">What It Is</h5>
                  <p class="card-text my-0">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item">
                            A place for producers to communicate directly with roasters
                        </li>
                        <li class="list-group-item">
                            A place for roasters to learn directly about producers
                        </li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="card me-4 text-center border border-radius rounded-5" style="width: 20rem;">
                <img class="card-img-top rounded-top-5 object-fit-cover"  height="175px" src="{% static 'img/danurwendho-adyakusuma-dYxx-jPaF34-unsplash.jpg' %}" alt="Card image cap">
                <div class="card-body" >
                  <h5 class="card-title fw-semibold mb-0">What It Does</h5>
                  <p class="card-text my-0">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item">
                            Allows producers to share their own farm stories
                        </li>
                        <li class="list-group-item">
                            Allows roasters to hear from, and communicate with, producers
                        </li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="card text-center border border-radius rounded-5" style="width: 20rem;">
                <img class="card-img-top rounded-top-5 object-fit-cover" height="175px" src="{% static 'img/joel-friedrich-iWX4pBztAbE-unsplash.jpg' %}" alt="Card image cap">
                <div class="card-body" >
                  <h5 class="card-title fw-semibold mb-0">What It Isn't</h5>
                  <p class="card-text my-0">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item">
                            A profit making entity
                        </li>
                        <li class="list-group-item">
                            A place to sell or buy coffee
                        </li>
                        <li class="list-group-item">
                            A trading company
                        </li>
                    </ul>
                  </p>                </div>
              </div>
        </div>
    </div>
    <div class="p-5" style="background-color:#171A1E; color: ghostwhite; min-height: 100vh;">
        <h2 class="text-center fw-semibold pb-3">Frequently Asked Questions</h2>
        <div class="mt-4">

            <div style="background-color:#2C3136" class="p-3 mb-4 rounded-3">
                <div class="d-flex">

                    <div style="width: 2vw; height: 2vw; background-color: #303C50; border-radius: 50%;" class="border border-radius rounded-circle d-flex align-self-center">
                    </div>

                    <h4 class="ms-3 d-flex align-self-center">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#FAQ3" aria-expanded="true" aria-controls="FAQ3">
                            What is Coffee Circuit?
                        </div>
                    </h4>

                </div>

                  <div style="background-color:#2C3136" class="collapse border-none" id="FAQ3">
                    <div class="ms-5 ps-1 pt-1 card card-body border border-0" style="background-color:#2C3136">
                        Coffee Circuit serves as a means for farmers who only have access to local intermediaries to connect with roasters, and alternatively,
                        a way for roasters to meet farmers authentically, with no curation, staging, or marketing.
                                            </div>
                  </div>
            </div>

            <div style="background-color:#2C3136" class="p-3 mb-4 rounded-3">
                <div class="d-flex">

                    <div style="width: 2vw; height: 2vw; background-color: #303C50; border-radius: 50%;" class="border border-radius rounded-circle d-flex align-self-center">
                    </div>

                    <h4 class="ms-3 d-flex align-self-center">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#FAQ1" aria-expanded="true" aria-controls="FAQ1">
                            How does Coffee Circuit work?
                        </div>
                    </h4>

                </div>

                  <div style="background-color:#2C3136" class="collapse border-none" id="FAQ1">
                    <div class="ms-5 ps-1 pt-1 card card-body border border-0" style="background-color:#2C3136">
                        Farmers can create profiles to share their work, stories, and harvests, owning their identities. Roasters also share pertinent information and can express interest in working with farmers. Farmers decide whether it’s a good fit. They can talk with one another in a free but facilitated environment.
                    </div>
                  </div>
            </div>

            <div style="background-color:#2C3136" class="p-3 mb-4 rounded-3">
                <div class="d-flex">

                    <div style="width: 2vw; height: 2vw; background-color: #303C50; border-radius: 50%;" class="border border-radius rounded-circle d-flex align-self-center">
                    </div>

                    <h4 class="ms-3 d-flex align-self-center">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#FAQ2" aria-expanded="true" aria-controls="FAQ2">
                            What does Coffee Circuit actually do?
                        </div>
                    </h4>

                </div>

                  <div style="background-color:#2C3136" class="collapse border-none" id="FAQ2">
                    <div class="ms-5 ps-1 pt-1 card card-body border border-0" style="background-color:#2C3136">
                        It allows farmers whose identities are normally lost in the supply chain the chance to be seen and heard the way they want to be, without curation, censorship, or marketing filter. It allows roasters to connect directly with farmers who normally would never find, even if they travel to farming communities.
                        Coffee Circuit provides farmers with a space to make themselves visible and known
                        Facilitates direct communication and collaboration between smallholder farmers and roasters

                    </div>
                  </div>
            </div>

            

            <div style="background-color:#2C3136" class="p-3 mb-4 rounded-3">
                <div class="d-flex">

                    <div style="width: 2vw; height: 2vw; background-color: #303C50; border-radius: 50%;" class="border border-radius rounded-circle d-flex align-self-center">
                    </div>

                    <h4 class="ms-3 d-flex align-self-center">
                        <div style="background-color:#2C3136;color: ghostwhite;" data-bs-toggle="collapse" data-bs-target="#FAQ4" aria-expanded="true" aria-controls="FAQ4">
                            Who is behind Coffee Circuit?
                        </div>
                    </h4>

                </div>

                  <div style="background-color:#2C3136" class="collapse border-none" id="FAQ4">
                    <div class="ms-5 ps-1 pt-1 card card-body border border-0" style="background-color:#2C3136">
                        The team behind Coffee Circuit is composed of academic researchers with coffee trading experience,
                        smallholder farmers, programmers & data scientists. Learn more about our team below.
                        <a class="link-light link-underline-opacity-25 link-underline-opacity-100-hover text-center py-3" href="{% url 'team' %}">Meet the Team</a>
                        
                    </div>
                  </div>
            </div>

            




        </div>
        <footer class="text-center mt-4">
            <a class="link-light link-opacity-25 link-opacity-100-hover" href="#">Learn more about Coffee Circuit here.</a>
        </footer>
    </div>

    {% include "base/footer.html" %}



{% endblock %}