{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark d-flex" style="align-content: center;">
    <div class="m-3 d-flex">
      <img src="{% static 'img/Logo1.png' %}" alt="" style="width: 25%; height: 25%;">
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
      <ul class="navbar-nav d-flex" style="align-content: center;">
        <li class="nav-item d-flex" style="align-items: center;">
          <a style="color:ghostwhite; font-weight: 500; white-space: nowrap;" class="nav-link me-5" href="#">ABOUT US</a>
        </li>
        <li class="nav-item me-5 d-flex" style="align-items: bottom;">
                <div id="google_translate_element"></div>
        </li>
        <li class="nav-item me-5 d-flex" style="align-items: center;">
          <a style="color: ghostwhite; font-weight: 500; white-space: nowrap;" class="nav-link" href="{% url 'signin' %}">LOGIN</a>
        </li>
        <li class="nav-item d-flex" style="align-items: center;">
          <a style="color: ghostwhite; font-weight: 500; white-space: nowrap;"class="nav-link" href="{% url 'signup' %}">CREATE ACCOUNT</a>
        </li>

      </ul>
    </div>
</nav>
