<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="m-2">
     <div style="color: #C5BCB0;" class="navbar-brand m-0 p-0">SPECIALTY</div>
     <div style="color: #C5BCB0;" class="navbar-brand m-0 p-0">COFFEE</div>
     <div class="navbar-brand m-0 p-0">CONNECT</div>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a style="color:ghostwhite;" class="nav-link me-5" href="#">ABOUT US</a>
        </li>
        <li class="nav-item me-5">
          <a style="color: ghostwhite;" class="nav-link" href="#">LANGUAGES</a>
        </li>
        <li class="nav-item me-5">
          <a style="color: ghostwhite;" class="nav-link" href="{% url 'signin' %}">LOGIN</a>
        </li>
        <li class="nav-item ">
          <a style="color: ghostwhite;"class="nav-link" href="{% url 'signup' %}">CREATE ACCOUNT</a>
        </li>
       
      </ul>
    </div>
</nav>
