{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <title>Document</title>
</head>

<body>

<nav class="profile-navbar navbar navbar-expand-lg navbar-dark bg-light shadow-sm" style="align-items: center;">
    <div class="container-fluid">
        <div class="navbar-brand d-flex align-items-center ms-5">
            <div style="color: #212529; font-weight: 600; line-height: 20px;">COFFEE</div>
            <p></p>
            <div style="color: #5C87B2; font-weight: 600;">SPACE</div>
        </div>  

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <a class="profile-navbar-item nav-link me-5 {% if request.path == '/farmer_orientation' %}active-link{% endif %}" href="{% url 'farmer_orientation' %}">ORIENTATION</a>
            </li>
            <li class="nav-item me-5">
              <a class="profile-navbar-item nav-link" href="#">CONNECTIONS</a>
            </li>
            <li class="nav-item me-5 profile-navbar-item">
                <a class="profile-navbar-item nav-link" href="#">LANGUAGES</a>
            </li>
            <li class="nav-item profile-picture-navbar">
              <img class="rounded-circle" width="50px" height="50px" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="">
            </li>
          </ul>
        </div>
    </div>
</nav>
<hr class="m-0">
</body>