{% load static %}


<nav class="navbar navbar-expand-lg navbar-light  " style="background-color: ghostwhite;">
<div class="container-fluid">
  <div class="ms-5 d-flex">
    <!-- <div style="color: #212529;" class="navbar-brand m-0 p-0">COFFEE</div>
    <div style="color: #5C87B2;" class="navbar-brand m-0 p-0">SPACE</div> -->
    <img src="{% static 'image/LogoDarkText.png' %}" width="100px" alt="">
</div>  



<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end me-2 mt-3" id="navbarNav">
  <ul class="navbar-nav ">
    <li class="nav-item mt-3">
      <a style="color:black;" class="nav-link me-5" href="{% url 'farmer_orientation' %}">ONBOARDING</a>
    </li>
    <li class="nav-item me-5 mt-3">
      <a style="color: black;" class="nav-link" href="#">CONNECTIONS</a>
    </li>
    <li class="nav-item me-5 mt-3">
      <div id="google_translate_element"></div>
    </li>
    
    <!-- <li class="nav-item me-5 mt-3">
        <a style="color: black;" class="nav-link" href="#">LANGUAGES</a>
    </li> -->
    <li class="nav-item me-5 mt-3">
      <a class="btn btn-danger" href="{% url 'signout' %}">Signout</a>

    </li>
    <!-- <li class="nav-item me-5  dropdown">
      <a class="" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle" width="75px" height="75px" src="{% static 'img/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg' %}" alt="">
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="{% url 'farmer_dashboard' %}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'signout' %}">Signout</a></li>
      </ul>
    </li> -->
   
   
  </ul>

</div>

</div>
</nav>
<hr class="mt-0 mb-0">

