{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: ghostwhite;">
  <div class="container-fluid">
    <div class="ms-5 d-flex">
      <!-- <div style="color: #212529;" class="navbar-brand m-0 p-0">COFFEE</div>
      <div style="color: #5C87B2;" class="navbar-brand m-0 p-0">SPACE</div> -->
      <img src="{% static 'image/LogoDarkText.png' %}" width="100px" alt="">
  </div>  
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-5 mt-3" id="navbarNav">
      <ul class="navbar-nav ">
          <li class="nav-item">
          <a style="color:black;" class="nav-link me-5" href="{% url 'roaster_dashboard' %}">DASHBOARD</a>
        </li>
        <!-- <li class="nav-item">
          <a style="color:black;" class="nav-link me-5" href="{% url 'roaster_details' %}">ONBOARDING</a>
        </li> -->
        <li class="nav-item me-5">
          <a style="color: black;" class="nav-link" href="{% url 'connections' %}">CONNECTIONS</a>
        </li>
        <li class="nav-item me-5">
                <div id="google_translate_element"></div>
        </li>
        <li class="nav-item me-5">
          <form method="post" action="{% url 'signout' %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Sign Out</button>
          </form>
        </li>
       
       
      </ul>
    </div>
</nav>
<hr class="mt-0 mb-0">
