{% extends 'base/main.html' %}


{% load static %}

{% block title %}Sign In{% endblock %}

{% block head %}
    <link href="{% static 'styles/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="position: absolute; top: 20px; right: 20px;">
    <a href="{% url 'landing_page' %}" class="close-button" style="text-decoration: none; color: white; font-size: 18px;">Close X</a>
</div>
<div class="background-image">

    <div class="text-container">
        <h1>SPECIALTY</h1>
        <h1>COFFEE</h1>
        <h1>CONNECT</h1>
    </div>

    <div class="signin-container">
        <h1 style="margin-bottom: 10px;">SIGN IN</h1> <!-- Adjust the margin-bottom value as needed -->
        <p style="margin: 0;" class="text-center">
        <small>Don't have an account?
            <a href="{% url 'signup' %}" style="color: #4DA167; text-decoration: none; display: inline-block;">Sign up</a>
        </small>
        </p>
        <div id="error-message" style="color: red;"></div>
        <form id="signin-form" method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required autocomplete="email">
            <input type="password" name="password" placeholder="Password" required autocomplete="current-password">
            <button type="submit">Sign In</button>
        </form>
        <a href="{% url 'enter_email' %}">Forgot password?</a>
    </div>
</div>
<script src="{% static 'js/signin.js' %}"></script>
{% endblock %}
